#mysql-connector-python==0.3.2-devel
autobahn==0.11.0
nose==1.1.2
numpy==1.10.1
pandas==0.17.0
python-dateutil==2.4.2
pytz==2015.7
rpy2==2.7.5
scikit-fuzzy==0.1.3
scikit-learn==0.17
scikits.statsmodels==0.3.1
scipy==0.16.1
singledispatch==3.4.0.3
six==1.10.0
Twisted==15.5.0
txaio==2.2.0
zope.interface==4.1.3
